/*Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

button:hover{
    box-shadow: 0px 0px 8px #561d2e;
    transform: scale(1.05);
}

/* Estilo do Cabeçalho */
header{
  padding: 40px 4%;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(58, 56, 56);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-login button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}

/* Estilo contato */


.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact  .content
{
    padding: 40px 4%;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, +30%);
    max-width: 800px;
    }


.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}


.contact .content p
{
    font-weight: 300;
    color: #fff;
    
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}

.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #561d2e;
}

.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff
}

.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #561d2e;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo
    {
        width: 100%;
    }
}
/*footer*/
.content_col{
    padding-bottom: 30px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#copy {
    color: #ffffff;
}