/*Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #561d2e;
}

button:hover{
    box-shadow: 0px 0px 8px #561d2e;
    transform: scale(1.05);
}

/* Estilo do Cabeçalho */
header{
  padding: 40px 4%;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(58, 56, 56);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-login button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}
/* Esltilo do topo do site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #561d2e;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/* Estilo das Especialidades */
sec.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px white;
}

.especialidades .especialidades-box i{
    font-size: 72px;
    color: #561d2e;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
/*estilo catálogo*/
#text_initial {
    font-family: "Dancing Script";
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}
.content {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content_col{
    padding-bottom: 30px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#copy {
    color: #ffffff;
}
.box-wine{
    height: 500px;
    width: 150px;
    margin: 60px 60px;
    text-align: center;
}
.wine {
    height: 300px;
    width: 100px;
}
.wine1 {
    height: 300px;
    width: 150px;
}
.wine_text_in {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-family: 'bitter';
}
.wine_text {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto Condensed';
}
.wrapper{
    top:50%;
    left:50%;
    padding-left: 50px;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto;
}
.button{
    width:100px;
    height:50px;
    background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
    border-style: none;
    color:#fff;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Lato';
    margin-top: 15px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: absolute;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}