/*Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

button:hover{
    box-shadow: 0px 0px 8px #561d2e;
    transform: scale(1.05);
}

/* Estilo do Cabeçalho */
header{
  padding: 40px 4%;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(58, 56, 56);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-login button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}
/* Esltilo do topo do site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #561d2e;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

.container{
        padding: 40px 4%;
        position: absolute;
        color:white;
        top: -15%;
        left: 50%;
        transform: translate(-50%, +30%);
        padding: 100px;
        border-radius: 15px;
}

.container h1{
    border: none;
    color: #561d2e;
    padding: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p{
    font-size: 20px;
}
/*footer*/
.content_col{
    padding-bottom: 30px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#copy {
    color: #ffffff;
}