/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Estilos do cabeçalho */
header {
    background-color: black;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

nav ul li {
    float: left;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos do rodapé */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
